### Step 1 - Import Files and Libraries

In [26]:
#import library
import pandas as pd
#import win32com.client as win32
import pathlib

In [45]:
#import and clean databases


emails = pd.read_excel(r'data_base/emails.xlsx')
stores = pd.read_csv(r'data_base/store.csv', encoding='latin1', sep=';')
sales = pd.read_excel(r'data_base/sales.xlsx')
display(emails)
display(stores)
display(sales)

,Store,Manager,E-mail
0,Iguatemi Esplanada,Helena,pythonimpressionador+helena@gmail.com
1,Shopping Midway Mall,Alice,pythonimpressionador+alice@gmail.com
2,Norte Shopping,Laura,pythonimpressionador+laura@gmail.com
3,Shopping Iguatemi Fortaleza,Manuela,pythonimpressionador+manuela@gmail.com
4,Shopping União de Osasco,Valentina,pythonimpressionador+valentina@gmail.com
5,Shopping Center Interlagos,Sophia,pythonimpressionador+sophia@gmail.com
6,Rio Mar Recife,Isabella,pythonimpressionador+isabella@gmail.com
7,Salvador Shopping,Heloisa,pythonimpressionador+heloisa@gmail.com
8,Rio Mar Shopping Fortaleza,Luiza,pythonimpressionador+luiza@gmail.com
9,Shopping Center Leste Aricanduva,Julia,pythonimpressionador+julia@gmail.com
10,Ribeirão Shopping,Lorena,pythonimpressionador+lorena@gmail.com
11,Shopping Morumbi,Livia,pythonimpressionador+livia@gmail.com
12,Parque Dom Pedro Shopping,Maria Luiza,pythonimpressionador+maria_luiza@gmail.com
13,Bourbon Shopping SP,Cecilia,pythonimpressionador+cecilia@gmail.com
14,Palladium Shopping Curitiba,Eloa,pythonimpressionador+eloa@gmail.com
15,Passei das Águas Shopping,Miguel,pythonimpressionador+miguel@gmail.com
16,Center Shopping Uberlândia,Arthur,pythonimpressionador+arthur@gmail.com
17,Shopping Recife,Heitor,pythonimpressionador+heitor@gmail.com
18,Shopping Vila Velha,Bernardo,pythonimpressionador+bernardo@gmail.com
19,Shopping SP Market,Davi,pythonimpressionador+davi@gmail.com
20,Shopping Eldorado,Theo,pythonimpressionador+theo@gmail.com
21,Shopping Ibirapuera,Lorenzo,pythonimpressionador+lorenzo@gmail.com
22,Novo Shopping Ribeirão Preto,Gabriel,pythonimpressionador+gabriel@gmail.com
23,Iguatemi Campinas,Pedro,pythonimpressionador+pedro@gmail.com
24,Shopping Barra,Benjamin,pythonimpressionador+benjamin@gmail.com
25,Diretoria,Diretoria,pythonimpressionador+diretoria@gmail.com

    ID Store                             Store
0          1                Iguatemi Esplanada
1          2              Shopping Midway Mall
2          3                    Norte Shopping
3          4       Shopping Iguatemi Fortaleza
4          5          Shopping União de Osasco
5          6        Shopping Center Interlagos
6          7                    Rio Mar Recife
7          8                 Salvador Shopping
8          9        Rio Mar Shopping Fortaleza
9         10  Shopping Center Leste Aricanduva
10        11                 Ribeirão Shopping
11        12                  Shopping Morumbi
12        13         Parque Dom Pedro Shopping
13        14               Bourbon Shopping SP
14        15       Palladium Shopping Curitiba
15        16         Passei das Águas Shopping
16        17        Center Shopping Uberlândia
17        18                   Shopping Recife
18        19               Shopping Vila Velha
19        20                Shopping SP Market
20        21                 Shopping Eldorado
21        22               Shopping Ibirapuera
22        23      Novo Shopping Ribeirão Preto
23        24                 Iguatemi Campinas
24        25                    Shopping Barra

,Sales Code,Date,ID Store,Product,Quantity,Unit Value,Final Value
0,1,2019-01-01,1,Print,1,358,358
1,1,2019-01-01,1,T-shirt,2,180,360
2,1,2019-01-01,1,Plaid shoe,1,368,368
3,2,2019-01-02,3,Clock,3,200,600
4,2,2019-01-02,3,Smooth slipper,1,71,71
...,...,...,...,...,...,...,...
100994,69996,2019-12-26,17,Striped shorts,2,102,204
100995,69996,2019-12-26,17,Schoolbag,4,270,1080
100996,69996,2019-12-26,17,Bracelet print,1,87,87
100997,69997,2019-12-26,11,Striped,1,108,108
100998,69997,2019-12-26,11,Linen shorts,2,133,266

### Step 2 - Define Create a Table for each Store and Define the Indicator day

In [48]:
#include store name in sales

sales = sales.merge(stores, on='ID Store')
display(sales)

,Sales Code,Date,ID Store,Product,Quantity,Unit Value,Final Value,Store
0,1,2019-01-01,1,Print,1,358,358,Iguatemi Esplanada
1,1,2019-01-01,1,T-shirt,2,180,360,Iguatemi Esplanada
2,1,2019-01-01,1,Plaid shoe,1,368,368,Iguatemi Esplanada
3,21,2019-01-02,1,Striped V -neck shirt,2,116,232,Iguatemi Esplanada
4,34,2019-01-02,1,Striped shoe,1,363,363,Iguatemi Esplanada
...,...,...,...,...,...,...,...,...
100994,69846,2019-12-25,8,Short Print,2,96,192,Salvador Shopping
100995,69846,2019-12-25,8,Print,5,256,1280,Salvador Shopping
100996,69850,2019-12-25,8,Stamp,4,177,708,Salvador Shopping
100997,69972,2019-12-26,8,Smooth suit,3,720,2160,Salvador Shopping
100998,69972,2019-12-26,8,Print,5,358,1790,Salvador Shopping

In [49]:
#create dictionary for store the stores
# loc to filter what I want
dictionary_store = {}
for store in stores['Store']:
    dictionary_store[store] = sales.loc[sales['Store']==store, :]
display(dictionary_store['Norte Shopping'])
display(dictionary_store['Passei das Águas Shopping'])

,Sales Code,Date,ID Store,Product,Quantity,Unit Value,Final Value,Store
3980,2,2019-01-02,3,Clock,3,200,600,Norte Shopping
3981,2,2019-01-02,3,Smooth slipper,1,71,71,Norte Shopping
3982,7,2019-01-02,3,Striped V -neck shirt,1,116,116,Norte Shopping
3983,7,2019-01-02,3,Smooth,1,105,105,Norte Shopping
3984,73,2019-01-02,3,Plaid underwear,5,60,300,Norte Shopping
...,...,...,...,...,...,...,...,...
8154,69888,2019-12-25,3,Linen shoes,1,294,294,Norte Shopping
8155,69916,2019-12-25,3,Suit,2,700,1400,Norte Shopping
8156,69962,2019-12-25,3,Half -line,2,78,156,Norte Shopping
8157,69976,2019-12-26,3,Plaid sneakers,1,259,259,Norte Shopping
8158,69976,2019-12-26,3,Coat,4,250,1000,Norte Shopping

,Sales Code,Date,ID Store,Product,Quantity,Unit Value,Final Value,Store
28491,10,2019-01-02,16,Checkered shirt,2,200,400,Passei das Águas Shopping
28492,10,2019-01-02,16,Smooth underwear,1,69,69,Passei das Águas Shopping
28493,19,2019-01-02,16,Striped clock,1,218,218,Passei das Águas Shopping
28494,19,2019-01-02,16,Linen pants,2,211,422,Passei das Águas Shopping
28495,199,2019-01-02,16,T-shirt,2,180,360,Passei das Águas Shopping
...,...,...,...,...,...,...,...,...
32486,69745,2019-12-24,16,T-shirt,3,180,540,Passei das Águas Shopping
32487,69861,2019-12-25,16,Linen suit,5,750,3750,Passei das Águas Shopping
32488,69861,2019-12-25,16,Checkered shirt,2,200,400,Passei das Águas Shopping
32489,69937,2019-12-25,16,Plaid swimns,5,116,580,Passei das Águas Shopping
32490,69957,2019-12-25,16,Boomuda print,1,169,169,Passei das Águas Shopping

In [51]:
#difine the indicator day
indicator_day = sales['Date'].max()
print(indicator_day)
print('{}/{}'.format(indicator_day.day, indicator_day.month))

2019-12-26 00:00:00

### Step 3 - Save the spreadsheet in the backup folder

In [5]:
#identify if the folder already exists
import pathlib

backup_path = pathlib.Path(r'backup_stores')

files_backup_path = backup_path.iterdir()

list_names_backup = [file.name for file in files_backup_path]
#for file in files_backup_path:
#    list_names_backup.append(file.name)

print(list_names_backup)

#save to folder

### Step 4 - Calculate the indicator for 1 store

### Step 5 - Send by email to the manager

### Step 6 - Automate all stores

### Step 7 - Create ranking for board

### Step 8 - Send email to management